<div class="container">
    <div class="card border-primary mb-3">
        <div class="card-header">Clientes</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Listado Clientes </h5>
            <div class="my-2 text-xl-left">
                <button class="btn btn-rounded btn-success" type="button" [routerLink]="['/clientes/crear']" routerLinkActive="router-link-active" >Crear Nuevo Cliente</button>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>CreatAt</th>
                        <th>Editar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let c of clientes">
                        <td>
                            {{ c.id }}
                        </td>
                        <td>
                            {{ c.nombres }}
                        </td>
                        <td>
                            {{ c.apellidos }}
                        </td>
                        <td>
                            {{ c.email }}
                        </td>
                        <td>
                            {{ c.createAt }}
                        </td>
                        <td>
                            <button class="btn btn-primary" [routerLink]="['/clientes/crear', c.id]" routerLinkActive="router-link-active" >Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>